<!DOCTYPE html>
<html lang = "en">
    <head>
        <link rel="stylesheet" href="index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <meta charset = "UTF-8">
        <title>Vuejs</title>
    </head>
    <body>
        <div id="wmsg">
            {{ wmsg }}
        </div>
        <main>
            <div id="counter">
                <ol>
                    <li v-for="msg in bucl">
                      {{ msg.cntr }}
                    </li>
                </ol>
               </div>
            <div id="inputs">
                <p>Message is: {{ message }}</p>
                <input v-model="message" placeholder="edit me" />
            </div>
            <br>
        </main>
        <footer>
            <div id="imag">
                 {{desc}}
                 <div> 
                  <img style="width:50px;height:50px" v-bind:src="imag" aria-label="VueJS logo">
                 </div>
             </div>
        </footer>
        <script src="vuejspractice.js"></script>
    </body>